$background: #ffffff;
$background-negative: #101010;
$background-primary: #0099ff;
$background-secondary: #ff4332;
$background-tertiary: #d8dfe4;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$background-primary-darker: darken(#0099ff, 5%);
$background-primary-darkest: darken(#0099ff, 10%);
$background-primary-disabled: #c4d3dd;
$background-primary-dimmed: rgba(#0099ff, 0.08);
$foreground: #101010;
$foreground-negative: #fcfcfc;
$foreground-primary: #0099ff;
$foreground-secondary: #ff4332;
$foreground-tertiary: #6d7b84;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$foreground-primary-darker: darken(#0099ff, 5%);
$foreground-primary-darkest: darken(#0099ff, 10%);
$foreground-primary-disabled: #c4d3dd;
$foreground-primary-dimmed: rgba(#0099ff, 0.5);
$border: #101010;
$shadow: rgba(86, 125, 151, .65);
$black-10: rgba(16, 16, 16, .1);
$black-20: rgba(16, 16, 16, .2);
$black-30: rgba(16, 16, 16, .3);
$black-40: rgba(16, 16, 16, .4);
$black-50: rgba(16, 16, 16, .5);
$black-60: rgba(16, 16, 16, .6);
$black-70: rgba(16, 16, 16, .7);
$black-80: rgba(16, 16, 16, .8);
$black-90: rgba(16, 16, 16, .9);
$fastest: 150ms;
$fast: 250ms;
$slow: 350ms;
