<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<head>
		<meta charset="utf-8" />
		<base href="<!--@@var=baseHref-->">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="Content-Language" content="it" />
		<meta name="robots" content="noindex,nofollow" />
		<title>Websolute B-Here</title>
		<meta name="description" content="Websolute B-Here demo.">
		<meta name="apple-mobile-web-app-title" content="Websolute B-Here">
		<meta name="application-name" content="Websolute B-Here">
		<link rel="shortcut icon" href="<!--@@var=baseHref-->docs/img/favicon.ico">
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap" rel="stylesheet" crossOrigin="anonymous">
		<link rel="stylesheet" href="<!--@@var=baseHref-->dist/css/bhere.min.css" />
		<!-- @@placeholder= css -->
	</head>

	<body>
		<script>
			window.STATIC = true;

		</script>
		<!-- @@placeholder= main -->
		<script src="<!--@@var=baseHref-->dist/js/bhere.min.js"></script>
		<!-- @@placeholder= js -->
	</body>

</html>
