<script>
var roles = [
	{ id: 1, name: 'Show room' },
	{ id: 2, name: 'Architetto' },
	{ id: 3, name: 'Interior designer' },
	{ id: 4, name: 'Privato' },
	{ id: 5, name: 'Altro' }
];
options = Object.assign(options, {
	defaultLanguage: 'it',
	labels: {
		// access
		browse: 'Apri',
		close: 'Chiudi',
		cancel: 'Annulla',
		error_email: 'Email non valida',
		error_match: 'I campi non corrispondono',
		error_required: 'Il campo è obbligatorio',
		error_pattern: 'Campo non valido',
		error_credentials: 'Credenziali non valide',
		remove: 'Rimuovi',
		required: 'Richiesto',
		select: 'Seleziona',
		select_file: 'Seleziona un file...',
		drag_and_drop_images: 'Trascina qui le immagini',
		loading: 'Caricamento',
		update: 'Salva',
		upload: 'Carica',
		copyright: '@copy Websolute Spa',
		privacy_policy: 'Informativa sulla Privacy',
		terms_of_service: 'Termini di utilizzo',
		access_login: 'Login.',
		access_username: 'Username',
		access_password: 'Password',
		access_or: 'oppure',
		access_title: 'Accesso al tour virtuale',
		access_tour: 'Accedi al tour',
		access_cta: 'Accedi',
		access_guided_tour: 'Richiedi un tour guidato',
		access_fill_fields: 'Compila i campi per accedere al tour.',
		access_guided_tour_request: 'Compila i campi e richiedi il tour guidato.',
		access_has_meeting_id: 'possiedi già un meeting id?',
		access_guided_tour_cta: 'Accedi al tour guidato',
		access_sso_login_info: 'effettua il login per entrare nel tour',
		access_sso_login_cta: 'SSO Login',
		access_sso_register_info: 'non sei ancora registrato? registrati',
		access_sso_register_cta: 'SSO Registrazione',
		access_first_name: 'Nome',
		access_last_name: 'Cognome',
		access_email: 'Email',
		access_phone_number: 'Telefono',
		access_website: 'Sito Web',
		access_role: 'Ruolo',
		access_privacy_disclaimer: 'Ho letto l\'<a href="/it/informativa-sulla-privacy" target="_blank" rel="noopener noreferrer">informativa</a> e do il consenso al trattamento del dato',
		access_take_part: 'partecipa al meeting',
		access_send: 'Invia',
		access_sent: 'Inviato!',
		access_back: 'Indietro',
		access_request_sent: 'Richiesta inviata!',
		access_info_request: 'La tua richiesta è stata inviata. Verrai contattato da un nostro incaricato per tutti i dettagli.',
		// bhere
		waiting_host: 'attendere',
		bhere_editor: 'editor',
		bhere_path: 'Percorso',
		bhere_select_path: 'Seleziona un percorso',
		bhere_insert_meeting_id: 'Inserisci un Meeting ID',
		bhere_meeting_id: 'Meeting ID',
		bhere_attendee_meeting_id: 'Attendee Meeting ID',
		bhere_streamer_meeting_id: 'Streamer Meeting ID',
		bhere_viewer_meeting_id: 'Viewer Meeting ID',
		bhere_smart_device_meeting_id: 'Smart Device ID',
		bhere_invalid_meeting_id: 'meeting id non valido',
		bhere_take_part_meeting: 'partecipa al meeting',
		bhere_generate_meeting_id: 'Genera un Meeting ID',
		bhere_take_part: 'Partecipa',
		bhere_self_service: 'Tour autonomo',
		bhere_login: 'Login.',
		bhere_username: 'Username',
		bhere_password: 'Password',
		bhere_cta: 'Accedi',
		bhere_fill_fullname: 'Inserisci il nome completo',
		bhere_fill_name_and_surname: 'inserisci un nome e un cognome',
		bhere_proceed_as: 'prosegui come',
		bhere_proceed: 'Prosegui',
		bhere_name_and_surname: 'Nome Cognome',
		bhere_invalid_protocol: 'Protocollo errato.',
		bhere_reload_in_https: 'riapri la pagina in https<br>per accedere al microfono e alla webcam.',
		bhere_reload: 'Riapri',
		bhere_video: 'Video',
		bhere_audio: 'Audio',
		bhere_select_video_audio: 'seleziona una sorgente audio e video',
		bhere_select_video: 'Seleziona una sorgente video',
		bhere_select_audio: 'Seleziona una sorgente audio',
		bhere_video_audio_connected: 'audio e video connessi',
		bhere_enter: 'Entra',
		bhere_connecting: 'In connessione...',
		bhere_ar: 'Inquadra il qrcode con il cellulare o il tablet per vedere il VR.',
		bhere_checklist_busy: 'Verifica sistema',
		bhere_checklist_success: 'Verifica completata',
		bhere_checklist_error: 'Verifica fallita',
		bhere_browser_error: '<b>Il browser in uso non è supportato.</b><br/> Ottieni una versione aggiornata del browser cliccando qui.',
		bhere_https_error: '<b>Stai navigando una versione del sito non sicura.</b><br/> Clicca qui per ricaricare la pagina.',
		bhere_audio_error: '<b>Impossibile accedere al dispositivo audio.</b><br/> Verifica che il microfono sia connesso, di aver autorizzato il browser ad accedervi e che il dispositivo audio non sia al momento utilizzato da altre applicazioni.',
		bhere_video_error: '<b>Impossibile accedere al dispositivo video.</b><br/> Verifica che la camera sia connessa, di aver autorizzato il browser ad accedervi e che il dispositivo video non sia al momento utilizzato da altre applicazioni.',
		bhere_rtc_error: '<b>Impossibile accedere ai servizi audio e video.</b><br/> Potrebbe essere causato da regole molto stringenti della tua connessione ad Internet. <br/>Consigliamo di verificare che le porte di destinazione siano accessibili dalla rete in uso. Cicca qui per maggiori informazioni.',
		bhere_rtm_error: '<b>Impossibile accedere ai servizi di messaggistica real-time.</b><br/> Potrebbe essere causato da regole molto stringenti della tua connessione ad Internet. <br/>Consigliamo di verificare che le porte di destinazione siano accessibili dalla rete in uso. Cicca qui per maggiori informazioni.',
		bhere_write_a_message: 'Scrivi...',
		bhere_configure_firewall: /* html */ `
				<div class="title">Audio e Video Realtime</div>
						<div class="abstract">
							<p>Aggiungi i seguenti domini di destinazione e le porte corrispondenti alla whitelist del firewall.</p>
						</div>
						<div class="subtitle">Domini</div>
						<pre class="pre">
							<code>
			<span>.agora</span><span>.io</span>
			<span>.edge</span><span>.agora</span><span>.io</span>
			<span>.sd-rtn</span><span>.com</span>
			<span>.edge</span><span>.sd-rtn</span><span>.com</span>
							</code>
						</pre>
						<div class="subtitle">Porte</div>
						<table class="table">
							<thead>
								<tr>
									<th>Tipologia</th>
									<th>Porte di destinazione</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>TCP</td>
									<td>80, 443, 3433, 4700-5000, 5668, 5669, 6080, 6443, 8667, 9667, 30011-30013</td>
								</tr>
								<tr>
									<td>UDP</td>
									<td>3478, 4700-5000</td>
								</tr>
							</tbody>
						</table>
						<div class="title">Messaggistica Realtime</div>
						<div class="abstract">
							<p>Aggiungi i seguenti domini di destinazione e le porte corrispondenti alla whitelist del firewall.</p>
						</div>
						<div class="subtitle">Domini</div>
						<pre class="pre">
							<code>
			<span>.edge</span><span>.agora</span><span>.io</span>
			<span>.edge</span><span>.sd-rtn</span><span>.com</span>
			<span>web-1</span><span>.ap</span><span>.sd-rtn</span><span>.com</span>
			<span>web-2</span><span>.ap</span><span>.sd-rtn</span><span>.com</span>
			<span>ap-web-1</span><span>.agora</span><span>.io</span>
			<span>ap-web-2</span><span>.agora</span><span>.io</span>
			<span>webcollector-rtm</span><span>.agora</span><span>.io</span>
			<span>logservice-rtm</span><span>.agora</span><span>.io</span>
			<span>rtm</span><span>.statscollector</span><span>.sd-rtn</span><span>.com</span>
			<span>rtm</span><span>.logservice</span><span>.sd-rtn</span><span>.com</span>
							</code>
						</pre>
						<div class="subtitle">Porte</div>
						<table class="table">
							<thead>
								<tr>
									<th>Tipologia</th>
									<th>Porte di destinazione</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>TCP</td>
									<td>443, 6443, 9591, 9593, 9601</td>
								</tr>
							</tbody>
						</table>`,
		bhere_support_request_sent: 'Richiesta di supporto inviata.',
		bhere_support_request_leaved: 'L\'utente ha lasciato il tour.',
		bhere_support_request_dialog: 'Un operatore è disponibile per un tour guidato.<br>Desideri Accettare?',
		bhere_support_request_dialog_accept: 'Accetta',
		bhere_support_request_dialog_reject: 'Rifiuta',
		bhere_support_request_accepted: 'L\'utente ha accettato la richiesta di supporto, in connessione...',
		bhere_support_request_rejected: 'L\'utente ha rifiutato la richiesta di supporto.',
		title_disconnect: 'Disconnetti',
		title_mute_camera: 'Silenzia camera',
		title_mute_mic: 'Silenzia microfono',
		title_share_screen: 'Condividi schermo',
		title_chat: 'Chat',
		title_navinfo: 'Mostra info',
		title_control: 'Controllo remoto',
		title_spy: 'Spia',
		title_silence: 'Silenzia partecipanti',
		title_view_mode: 'Cambia modalità',
		title_volume: 'Volume',
		title_fullscreen: 'Fullscreen',
		title_navmap: 'Mappa',
		title_ar: 'Realtà Aumentata',
		title_vr: 'Entra in VR',
		title_close: 'Chiudi',
		title_play: 'Play',
		title_pause: 'Pausa',
		// editor
		editor_properties: 'Proprietà',
		editor_views: 'Viste',
		editor_view_items: 'Elementi Viste',
		editor_items: 'Elementi',
		editor_menu: 'Menu',
		editor_navmaps: 'Mappe',
		editor_no_items: 'Questa vista non ha elementi',
		editor_type_no_items: 'Questa tipo di vista non ha elementi',
		editor_add_item: 'Aggiungi un elemento',
		editor_tiles: 'Griglia',
		editor_no_tiles: 'Questa vista non ha griglie',
		editor_no_navs: 'Questa griglia non ha navpoint',
		editor_add_nav: 'Aggiungi navpoint e tooltip',
		editor_add: 'Aggiungi',
		editor_save: 'Salva',
		editor_back: 'Indietro',
		editor_image: 'Immagine',
		editor_video: 'Video',
		editor_model: 'Modello',
		editor_publisher_stream: 'Publisher Stream',
		editor_next_attendee_stream: 'Next Attendee Stream',
		editor_waiting_room: 'Sala d\'attesa',
		editor_panorama: 'Panorama',
		editor_panorama_grid: 'Panorama Griglia',
		editor_room_3d: 'Stanza 3D',
		editor_media: 'Media',
		editor_nav: 'Nav Tooltip',
		editor_gltf: 'Modello Gltf',
		editor_plane: 'Piano',
		editor_curved_plane: 'Piano Curvo',
		editor_texture: 'Texture',
		editor_id: 'Id',
		editor_name: 'Nome',
		editor_hide: 'Nascondi dal menu',
		editor_latitude: 'Latitudine',
		editor_longitude: 'Longitudine',
		editor_zoom: 'Zoom',
		editor_ar_ios: 'AR IOS (.usdz)',
		editor_ar_android: 'AR Android (.glb)',
		editor_title: 'Titolo',
		editor_abstract: 'Abstract',
		editor_nav_to_view: 'NavToView',
		editor_link_title: 'Titolo link',
		editor_link_url: 'Url del link',
		editor_position: 'Posizione',
		editor_rotation: 'Rotazione',
		editor_scale: 'Scala',
		editor_radius: 'Raggio',
		editor_height: 'Altezza',
		editor_arc: 'Arco',
		editor_asset: 'Asset',
		editor_image_or_video: 'Immagine o Video',
		editor_use_green_screen: 'Utilizza Green Screen',
		editor_are_you_sure: 'sei sicuro?',
		editor_remove: 'Rimuovi',
		editor_cancel: 'Cancella',
		editor_create: 'Crea',
		editor_click_a_point: 'Clicca un punto sulla vista',
	},
	data: {
		roles: roles
	},
	fields: [
		{ type: 'text', name: 'firstName', label: 'access_first_name', required: true, test: 'Jhon' },
		{ type: 'text', name: 'lastName', label: 'access_last_name', required: true, test: 'Appleseed' },
		{ type: 'email', name: 'email', label: 'access_email', required: true, test: 'jhonappleseed@gmail.com' },
		/*
		{ type: 'text', name: 'phoneNumber', label: 'access_phone_number', required: true, test: '0721-411112' },
		{ type: 'url', name: 'website', label: 'access_website', required: false, test: 'www.websolute.it' },
		*/
		{ type: 'custom-select', name: 'role', label: 'access_role', required: true, options: roles, test: roles[0].id },
		{ type: 'checkbox', name: 'privacy', label: 'access_privacy_disclaimer', required: true, test: true },
	],
});

</script>
