<script>
	var options = {
		appKey: '8b0cae93d47a44e48e97e7fd0404be4e',
		channelName: 'BHere',
		webhook: {
			uris: [
				'internal',
				'https://webhook.site/246bff9c-732d-427b-99b8-52c6c3746907',
			],
			methods: {
				nav: [
					'ToggleWishlist',
				],
			},
		},
		logo: null,
		background: {
			image: 'img/background.jpg',
			video: 'img/background.mp4',
		},
		selfServiceAudio: null, // 'audio/self-service.mp3',
		colors: {
			menuBackground: '#000000',
			menuForeground: '#ffffff',
			menuOverBackground: '#0099ff',
			menuOverForeground: '#ffffff',
			menuBackBackground: '#0099ff',
			menuBackForeground: '#000000',
			menuBackOverBackground: '#0099ff',
			menuBackOverForeground: '#ffffff',
		},
		editor: {
			disabledViewTypes: ['waiting-room'],
			disabledViewItemTypes: ['texture'],
		},
		assets: '/docs/',
		dist: '/dist/',
		workers: {
			image: '/docs/js/workers/image.service.worker.js',
			prefetch: '/docs/js/workers/prefetch.service.worker.js',
		},
		textures: {
			envMap: 'textures/envMap/studio.hdr',
			grid: 'textures/grid/grid.jpg',
		},
		toneMappingExposure: 1.5,
		githubDocs: 'https://raw.githubusercontent.com/diegoUE8/b-here-vercel/main/docs/',
		template: {
			email: {
				supportRequest: '/email/support-request.html',
			}
		},
		pathMapper: {
			ssoLogin: (data) => {
				/*
				const roles = {
					'Agenzia Certificata': 1,
					'Centro Assistenza Autorizzato (Contratto)': 2,
					'Dealer': 3,
					'Progettista Certificato': 4,
					'Distributore': 5,
					'Installatore Certificato': 6,
					'Ferroli partner': 7,
					'Ferroli partner + ass': 8,
					'Dipendenti': 9,
					'Centro Assistenza Certificato': 10,
					'Agenzia Autorizzata (Contratto)': 11,
				};
				*/
				const pathId = [1, 2, 3, 9, 11, 'Dealer'].indexOf(data.role) !== -1 ? 2 : 1;
				console.log('environment.pathMapper.ssoLogin', pathId, data);
				return pathId;
			},
			selfService: (data) => {
				const pathId = 1;
				console.log('environment.pathMapper.selfService', pathId, data);
				return pathId;
			},
		},
		flags: {
			production: false,
			useProxy: true,
			useToken: false,
			useExtendedUserInfo: true,
			useEncryptedUrl: false,
			gdprRoutes: true,
			selfService: true,
			guidedTourRequest: true,
			guidedTourAccess: true,
			ssoLogin: false,
			ssoRegister: false,
			editor: true,
			editorAssetScreen: true,
			menu: true,
			menuEmbed: true,
			navmaps: true,
			screenShare: true,
			chat: true,
			ar: true,
			like: true,
			hideNavInfo: true,
			useIframe: true,
			attendee: true,
			streamer: true,
			viewer: true,
			smartDevice: true,
			selfServiceProposition: false,
			navInfoAnimated: false,
			navInfoImportantAnimated: false,
			navMoveAnimated: false,
			navMoveImportantAnimated: false,
			navPointAnimated: false,
			navPointImportantAnimated: false,
			navTitleAnimated: false,
			navTitleImportantAnimated: false,
			navTransparentAnimated: true,
			navTransparentImportantAnimated: true,
			useTextureEnvironment: true,
			usePaths: false,
			antialias: true,
			alpha: false,
			premultipliedAlpha: false,
		},
		navs: {
			iconMinScale: 1.2,
			iconMaxScale: 1.6,
		},
		profiles: {
			// streamer: "480p_1", // 640 x 480 x 15
			streamer: "480p_2", // 640 x 480 x 30
			// streamer: "480p_3", // 480 x 480 x 15
			// streamer: "480p_4", // 640 x 480 x 30
			// streamer: "480p_6", // 480 x 480 x 30
			// streamer: "480p_8", // 848, 480 x 15
			// streamer: "480p_9", // 848, 480 x 30
			// streamer: "480p_10", // 640 x 480 x 10
			// streamer: "720p_1", // 1280 x 720 x 15
			// streamer: "720p_2", // 1280 x 720 x 30
			// streamer: "720p_3", // 1280 x 720 x 30
			// streamer: "720p_5", // 960 x 720 x 15
			// streamer: "720p_6", // 960 x 720 x 30
			// streamer: "1080p_1", // 1920 x 1080 x 15
			// streamer: "1080p_2", // 1920 x 1080 x 30
			// streamer: "1080p_3", // 1920 x 1080 x 30
			// streamer: "1080p_5", // 1920 x 1080 x 60

			// publisher: "720p_2", // 1920 x 1080 x 30
			publisher: "1080p_2", // 1920 x 1080 x 30

			// screen: "480p_1", // 640 × 480 x 5
			// screen: "480p_2", // 640 × 480 x 30
			// screen: "720p_1", // 1280 × 720 x 5
			// screen: "720p_2", // 1280 × 720 x 30
			// screen: "1080p_1", // 1920 × 1080 x 5
			screen: "1080p_2", // 1920 × 1080 30
		},
	};

</script>
