.group--chat {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	background: $background-negative;
	background: #222;
	color: $foreground-negative;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

.group--scrollview,
.group--emoji {
	display: block;
	padding: 40px 0 20px 0;
	overflow-x: hidden;
	overflow-y: auto;
	@include scrollbar();

	&.rows--1 {
		height: calc(100% - 90px);
		flex: 0 0 calc(100% - 90px);
	}

	&.rows--2 {
		height: calc(100% - 106px);
		flex: 0 0 calc(100% - 106px);
	}

	&.rows--3 {
		height: calc(100% - 122px);
		flex: 0 0 calc(100% - 122px);
	}

	&.rows--4 {
		height: calc(100% - 138px);
		flex: 0 0 calc(100% - 138px);
	}
}

.group--emoji {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 4px 20px 4px;
	background: $background-negative;
	background: #222;
	color: $foreground-negative;

	.btn--emoji {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		width: 50px;
		height: 30px;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 3px;

		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
	}
}

.group--virtual {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

/*
.listing--messages {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&>.listing__item {
		display: flex;
	}
}
*/

$message-radius: 10px;
$message-padding: 10px;

.message {
	display: flex;

	&__avatar {
		display: block;
		width: 30px;
		height: 30px;
		flex: 0 0 30px;
		border-radius: 15px;
		background: black;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 11px;
		font-weight: $font-semibold;
		letter-spacing: 0.1em;
		margin: 5px 10px;
	}

	&__content {
		font-size: 14px;
		line-height: 1.2;
		background: rgba(0, 0, 0, 0.2);
		padding: $message-padding;
		margin-bottom: $message-padding;
		flex: 0 1 auto;
		max-width: calc(100% - 55px);
		border-radius: 0 $message-radius $message-radius $message-radius;
		color: $foreground-negative;
		user-select: text;
		-webkit-touch-callout: default;
		word-break: break-word;

		a {
			text-decoration: underline;
			word-break: break-word;
		}
	}

	&.me {
		justify-content: flex-end;

		.message__avatar {
			margin-left: 5px;
			order: 2;
			background: $background-primary-dimmed; // rgba(#7f7fb6, 0.2);
		}

		.message__content {
			order: 1;
			border-radius: $message-radius 0 $message-radius $message-radius;
			background: $background-primary-dimmed; // rgba(#7f7fb6, 0.2);
			color: #ccc;

			p {
				margin: 5px 0 0 0;
				padding-top: 5px;
				// border-top: 1px dotted rgba(255,255,255,0.1);
			}

			/*
			br {
				display: block;
				margin-bottom: 10px;
			}
			*/
		}
	}

	&:not(.me) {
		.message__avatar {
			margin-right: 5px;
		}
	}

	&:not(.typing) {
		.typing-indicator {
			display: none;
		}
	}
}

.group--message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);

	.form {
		width: 100%;
	}

	.group--form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 10px 10px;
		border: none;
		border-radius: 30px;
		background: rgba(0, 0, 0, 0.2);
	}

	.control--pre {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		cursor: pointer;

		svg {
			width: 18px;
			height: 18px;
			fill: $foreground-primary-dimmed;
		}
	}

	.control--text {
		margin: 0;
		padding: 0 8px;
		font-size: 14px;
		font-weight: $font-regular;
		line-height: 16px;
		color: $foreground-negative;
		resize: none;
		@include scrollbar();

		::placeholder,
		::-webkit-input-placeholder,
		::-moz-placeholder,
		:-ms-input-placeholder,
		:-moz-placeholder {
			font-size: 14px;
			line-height: 16px;
			color: $foreground-primary-dimmed;
		}
	}

	.control--addon {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0 0 0 10px;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background: rgba(0, 0, 0, 0.2);
		cursor: pointer;

		svg {
			width: 15px;
			height: 15px;
			fill: $foreground-primary-dimmed;
		}
	}

	&.rows--1 {
		height: 90px;
		flex: 0 0 90px;
	}

	&.rows--2 {
		height: 106px;
		flex: 0 0 106px;
	}

	&.rows--3 {
		height: 122px;
		flex: 0 0 122px;
	}

	&.rows--4 {
		height: 138px;
		flex: 0 0 138px;
	}
}

.group--close {
	position: fixed;
	top: 10px;
	right: 10px;

	.btn--close {
		width: 24px;
		height: 24px;
		border-radius: 12px;
		background: $background-negative;
		color: $foreground-negative;

		svg {
			width: 10px;
			height: 10px;
			fill: currentColor;
		}
	}
}

.typing-indicator {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 28px;
	margin: 8px 0 0 0;
	padding: 6px 4px;
	border-radius: 30%;
	background-color: rgba(0, 0, 0, 0.2);

	& span {
		display: block;
		height: 4px;
		width: 4px;
		background-color: $foreground-primary-dimmed;
		border-radius: 2px;

		&:nth-child(1) {
			animation: 1s typing-bounce infinite 250ms;
		}

		&:nth-child(2) {
			animation: 1s typing-bounce infinite 500ms;
		}

		&:nth-child(3) {
			animation: 1s typing-bounce infinite 750ms;
		}
	}
}

@keyframes typing-bounce {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-3px);
	}

	50% {
		transform: translateY(0);
	}
}
