@use "sass:math";

%live-meeting-remote {
	flex: 0 0 auto;
	position: absolute;
	background: $background-negative;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 1px;
	align-items: center;

	.agora-stream {
		justify-self: center;
		width: 100%;
		height: auto;
		background: black;
		max-width: calc((var(--vh, 1vh) * 100 - 182px) / 3 * 4);

		.agora-stream__player {
			@include aspect-clip(4, 3);

			&>div {
				position: absolute !important;
				top: 0;
				left: 0;
			}
		}

		.btn--control,
		.btn--spy {
			display: none;
		}
	}

	&.group--remote--1 {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	}

	&.group--remote--2 {
		@media screen and (max-width: 569px) {
			grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		}

		@media screen and (min-width: 570px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));
		}
	}

	&.group--remote--3 {
		@media screen and (max-width: 400px) {
			grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		}

		@media screen and (min-width: 401px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));
		}

		@media screen and (min-width: 1190px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1px), 1fr));
		}
	}

	&.group--remote--4 {
		@media screen and (max-width: 1189px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));
		}

		@media screen and (min-width: 1190px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1px), 1fr));
		}
	}

	&.group--remote--5 {
		@media screen and (max-width: 684px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));
		}

		@media screen and (min-width: 685px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1px), 1fr));
		}
	}

	&.group--remote--6 {
		@media screen and (max-width: 684px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));
		}

		@media screen and (min-width: 685px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1px), 1fr));
		}
	}

	&.group--remote--7 {
		@media screen and (max-width: 519px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));
		}

		@media screen and (min-width: 520px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1px), 1fr));
		}

		@media screen and (min-width: 1190px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(25% - 1px), 1fr));
		}

		@media screen and (min-width: 1920px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(20% - 1px), 1fr));
		}
	}

	&.group--remote--8 {
		@media screen and (max-width: 519px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));
		}

		@media screen and (min-width: 520px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1px), 1fr));
		}

		@media screen and (min-width: 1190px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(25% - 1px), 1fr));
		}

		@media screen and (min-width: 1920px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(20% - 1px), 1fr));
		}
	}

	&.group--remote--9 {
		&>.agora-stream {
			display: none;
		}

		@media screen and (max-width: 519px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1px), 1fr));

			@for $i from 1 through 8 {
				&>.agora-stream:nth-child(#{$i}) {
					display: block;
				}
			}
		}

		@media screen and (min-width: 520px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1px), 1fr));

			@for $i from 1 through 9 {
				&>.agora-stream:nth-child(#{$i}) {
					display: block;
				}
			}
		}

		@media screen and (min-width: 1190px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(25% - 1px), 1fr));

			@for $i from 1 through 12 {
				&>.agora-stream:nth-child(#{$i}) {
					display: block;
				}
			}
		}

		@media screen and (min-width: 1920px) {
			grid-template-columns: repeat(auto-fit, minmax(calc(20% - 1px), 1fr));

			@for $i from 1 through 15 {
				&>.agora-stream:nth-child(#{$i}) {
					display: block;
				}
			}
		}
	}
}

.group--header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 90px;
	pointer-events: none;

	&>div {
		pointer-events: auto;
	}

	@include media-down(sm) {
		flex-direction: row-reverse;
	}
}

.group--service {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@include media-up(md) {
		margin-left: 15px;

		&>button+button {
			margin-left: 10px;
		}
	}

	@include media-down(sm) {
		margin-right: 15px;
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 1));

		&>button {
			margin-left: 10px;
		}

		.btn--back {
			display: none;
		}

		/*
		.btn--view-mode {
			display: none;
		}
		*/

		.btn--fullscreen {
			display: none;
		}
	}

	:not(.self-service)>.group--header>& {
		@include media-down(sm) {
			.btn--volume {
				display: none;
			}

			.btn--navmap {
				display: none;
			}
		}
	}
}

.group--local {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 1;

	.agora-stream {
		@include ratio(120px, math.div(4, 3));
		background: black;
	}

	.agora-stream--screen {
		.agora-stream__player {
			border-left: 0;
		}
	}

	@include media-down(sm) {
		position: absolute;
		visibility: hidden;
		pointer-events: none;
	}
}

.group--footer {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 15px;
	bottom: 0;
	width: calc(100% - 30px);
	min-height: 90px;
	pointer-events: none;

	&>div {
		pointer-events: auto;
	}
}

.group--navmap {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 80%;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(30px);
	transform: translateX(-50%) translateY(-50%);
	@include unselectable();

	.navmap__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px;
		cursor: pointer;
		@include unselectable();

		.title {
			position: absolute;
			display: block;
			bottom: 15px;
			left: 50%;
			margin: 0;
			padding: 2px 7px;
			font-size: 13px;
			font-weight: 400;
			line-height: 1;
			white-space: nowrap;
			border-radius: 2px;
			opacity: 0;
			transform: translateX(-50%);
			pointer-events: none;
			background: black;
			color: white;
			transition: all ease-in-out $fast;
		}

		&:hover {
			.title {
				opacity: 1;
				transform: translateX(-50%) translateY(-5px);
			}
		}
	}
}

.group--controls {
	position: relative;
	flex-basis: 30%;
}

.group--actions {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;

	&>button+button {
		margin-left: 10px;
	}

	@include media-down(xs) {

		.btn--screen,
		.btn--navinfo {
			display: none;
		}
	}
}

.group--spacer {
	flex-basis: 30%;

	.media-player-active & {
		display: none;
	}
}

.group--media {
	position: relative;
	display: none;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	height: 40px;

	.btn--play,
	.btn--pause {
		padding: 0;
		line-height: 0;
		flex: 0 0 40px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			margin: 0;
			width: 16px;
			height: 16px;
			fill: currentColor;
		}

		&,
		&:active,
		&:focus,
		&:visited,
		&:hover,
		&:active:hover {
			background: none;
			color: $foreground-negative;
		}
	}

	.track {
		flex: 1 1 calc(100% - 60px);
		max-width: calc(100% - 60px);
		height: 8px;
		border-radius: 4px;
		background: rgba(255, 255, 255, 0.1);
		overflow: hidden;
		cursor: pointer;

		&__progress {
			height: 100%;
			width: 100%;
			transform-origin: left;
			background: $foreground-negative;
		}
	}

	.media-player-active & {
		display: flex;
	}

	.locked & {
		display: none;
	}
}

.group--ar-vr {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	// left: 50%;
	// bottom: 25px;
	// transform: translateX(-50%);

	@include media-up(sm) {
		.btn--vr {
			margin-left: 10px;
		}
	}

	@include media-down(xs) {
		.btn--vr {
			display: none;
		}
	}

	@include media-down(sm) {

		.btn--ar,
		.btn--vr {
			font-size: 13px;
		}
	}
}

.group--heart {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-basis: 30%;

	@include media-down(sm) {
		.btn--heart {
			margin: 0;
		}
	}

	.love {
		display: none;
		position: absolute;
		right: 25px;
		top: -50%;
		width: 12px;
		height: 12px;
		fill: $foreground-secondary;

		&.active {
			display: block;
			animation: love-rise 3s linear infinite, love-swing 1s ease-in-out infinite alternate;
		}
	}
}

.group--info {
	position: relative;
	max-width: 400px;
	margin: 0 10px;
	border-radius: 7px;
	background: $background;
	box-shadow: 0 10px 20px -5px $black-30;

	&__content {
		padding: 20px;
	}

	.title {
		margin-bottom: 25px;
		font-size: 22px;
		font-weight: $font-extrabold;
		line-height: 1.15;
		text-align: center;
	}

	.info {
		margin: 15px 0;
		font-size: 15px;
		line-height: 1.2;
		color: $foreground-tertiary;
		text-align: center;
		text-transform: lowercase;
	}

	.form {
		width: 100%;
	}

	.group--form,
	.group--form--select {
		padding: 0;
		border: 2px solid $background-primary-disabled;
		border-radius: 5px;
		cursor: pointer;

		&>label {
			position: absolute;
			padding: 5px 8px 0;
			margin: 0;
			top: 0px;
			font-size: 11px;
			color: $foreground-tertiary;
			opacity: 1;
			pointer-events: none;

			svg {
				width: 9px;
				height: 9px;
				fill: currentColor;
			}
		}

		.icon--caret-down {
			position: absolute;
			width: 8px;
			height: 5px;
			right: 8px;
			top: 50%;
			margin: 3px 0 0 0;
			fill: $foreground-tertiary;
			pointer-events: none;
		}
	}

	.control--text,
	.control--select,
	.control--custom-select {
		max-width: 100%;
		font-size: 14px;
		text-transform: none;
		font-weight: $font-regular;
		padding: 18px 8px 7px;
		cursor: pointer;
		@include autofill(14px, 400, 1, 0, $font-primary, $foreground, transparent);

		&[readonly] {
			color: $foreground-primary-disabled;
		}
	}

	[control-custom-select] {
		&.invalid {
			.control--custom-select {
				color: $foreground-tertiary;
			}
		}
	}

	.group--form--addon {
		display: flex;
		align-items: stretch;

		@include media-up(sm) {
			min-width: 280px;
		}
	}

	.control--addon {
		width: 40px;
		flex: 0 0 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $foreground-primary-disabled;
		// color: $foreground-negative;
		transition: color ease-in-out 150ms;

		svg {
			fill: currentColor;
		}

		&:hover {
			color: $foreground-tertiary;
		}
	}

	.btn--generate,
	.btn--next,
	.btn--connect,
	.btn--secondary {
		margin: 0 auto;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	.btn--mode {
		margin: 10px 0 0 0;
	}

	@include media-up(sm) {
		min-width: 375px;
	}

	@include media-down(xs) {
		width: 100%;
		max-width: calc(100% - 30px);
		overflow-x: hidden;
		overflow-y: auto;

		&__content {
			padding: 10px;
		}

		.title {
			margin-top: 5px;
		}
	}
}

.group--select {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 15px;

	.group--form--select {
		margin: 0;
	}
}

.group--members {
	position: absolute;
	width: 120px;
	height: 90px;
	padding: 8px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.members {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		line-height: 1;
		color: $foreground-negative;

		svg {
			width: 18px;
			height: 18px;
			fill: currentColor;
		}

		&__count {
			margin-left: 7px;
			padding: 3px 5px;
			min-width: 20px;
			text-align: center;
			border-radius: 6px;
			background: rgba(255, 255, 255, 0.1);
		}
	}

	.credits {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.group--checklist {
	@extend %nav-reset;
	display: flex;
	flex-direction: column;
	margin: 0 0 40px 0;
	padding: 0 20px;

	min-width: 335px;
	max-height: calc(var(--vh, 1vh) * 100 - 300px);
	overflow-x: hidden;
	overflow-y: auto;
	@include scrollbar();

	&>.checklist__item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.check {
			padding: 0 0 6px 0;
			margin-bottom: 6px;
			border-bottom: 1px solid #ddd;
			color: $foreground;
		}

		&.error {
			margin: -7px -10px 30px;
			padding: 2px 10px;
			font-size: 13px;
			border: 1px solid #fde5e5;
			background: #fff5f5;
			color: #c13e32;
			box-shadow: 0 10px 10px -5px rgba(255, 0, 0, 0.15);
		}
	}
}

$color-idle: #eeeeee;
$color-success: #00C851;
$color-error: #ff4444;
$stroke-width: 5px;
$size: 36;
$checkmark-color: white;

.checkmark {
	width: $size * 1px;
	height: $size * 1px;
	border-radius: 50%;
	display: block;
	stroke-width: $stroke-width;
	stroke: $checkmark-color;
	stroke-miterlimit: 10;
	margin: 10% auto;

	&.idle {
		box-shadow: inset 0px 0px 0px $color-idle;
		animation: check-idle .4s ease-in-out .4s forwards, check-scale .3s ease-in-out .9s both;

		&>.checkmark__circle {
			stroke: $color-idle;
		}
	}

	&.success {
		box-shadow: inset 0px 0px 0px $color-success;
		animation: check-success .4s ease-in-out .4s forwards, check-scale .3s ease-in-out .9s both;

		&>.checkmark__circle {
			stroke: $color-success;
		}
	}

	&.error {
		box-shadow: inset 0px 0px 0px $color-error;
		animation: check-error .4s ease-in-out .4s forwards, check-scale .3s ease-in-out .9s both;

		&>.checkmark__circle {
			stroke: $color-error;
		}
	}
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: $stroke-width;
	stroke-miterlimit: 10;
	animation: check-stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__icon {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: check-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
}

@keyframes check-idle {
	100% {
		box-shadow: inset 0px 0px 0px math.div($size, 2) * 1px $color-idle;
	}
}

@keyframes check-success {
	100% {
		box-shadow: inset 0px 0px 0px math.div($size, 2) * 1px $color-success;
	}
}

@keyframes check-error {
	100% {
		box-shadow: inset 0px 0px 0px math.div($size, 2) * 1px $color-error;
	}
}

@keyframes check-scale {

	0%,
	100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes check-stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
