.model-viewer__item {
	.progress {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.panel {
	z-index: 100;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 600px;
	left: 0;
	top: 0;
	top: 5000px;
	background: rgba(0, 0, 0, 0.75);
	color: $foreground-negative;
	padding: 40px 30px;
	border-radius: 12px;

	&.panel--lg {
		width: 900px;
	}

	&__title {
		font-weight: $font-regular;
		font-size: 60px;
		line-height: 1.0;
		margin-bottom: 25px;
		color: $foreground-negative;

		&>span {
			display: block;
			transform: translateY(-0.5em);
		}
	}

	&__abstract {
		font-size: 36px;
		line-height: 1.3;
		margin-bottom: 25px;
		color: $foreground-negative;

		&>span {
			display: block;
			transform: translateY(-0.5em);
		}

		p {
			margin-top: 0;
			padding-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__picture {
		width: 100%;
	}

	&__link {
		position: relative;
		display: block;
		padding: 15px;
		margin-bottom: 15px;
		font-size: 28px;
		font-weight: $font-regular;
		line-height: 0.5 !important;
		text-decoration: none;
		color: $foreground-primary;

		// border: 1px solid $foreground-primary-dimmed;
		// outline: 1px $foreground-primary-dimmed;
		&>span {
			display: block;
			transform: translateY(-0.5em);
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0; // 20px;
			width: 100%;
			height: 100%;
			border: 1px solid $foreground-primary-dimmed;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	span+img {
		display: initial !important;
	}
}

.banner {
	z-index: 100;
	position: absolute;
	left: 0;
	top: 5000px;
	background: $black-30; // #000;
	// border: 1px solid $black-50; // #000;
	color: $foreground-negative;
	text-shadow: 0 0 0.5em $black-30;
	padding: 0.2em 1.5em; // 30px;
	font-size: 480px;
	line-height: 1;

	&__title {
		color: $foreground-negative;
		white-space: nowrap;
	}
}

/*
.progress {
	color: $foreground-negative;
	font-weight: $font-extrabold;
	font-size: 70px;
	text-shadow: 0 10px 10px $black-50;
}
*/

.progress-indicator {
	z-index: 100;
	position: absolute;
	left: 0;
	top: 5000px;
	font-size: 0;
	line-height: 0;

	$size: 4px;

	.embed.ui & {
		width: 300px;
		height: 3 * $size;
		padding: $size;
		border-radius: 2 * $size;
		background: rgba(255, 255, 255, 0.3);

		.inner {
			width: 0;
			height: $size;
			border-radius: $size;
			background: black;
			transition: width ease-out 250ms;
		}

		&.active {
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			backdrop-filter: blur(20px);
		}
	}
}

.canvas--debug {
	position: absolute;
	top: 0;
	left: 0;
}

.generic-modal,
.configure-firewall-modal,
.control-request-modal,
.curved-plane-modal,
.item-model-modal,
.media-modal,
.model-modal,
.nav-modal,
.panorama-grid-modal,
.panorama-modal,
.plane-modal,
.remove-modal,
.room-3d-modal,
.control-request-modal,
.try-in-ar-modal,
.path-edit-modal {
	overflow-x: hidden;
	overflow-y: auto;
	@include scrollbar();
	border-radius: 12px;
	background: $background;
	box-shadow: 0px 10px 10px -5px $black-20;

	@include media-up(sm) {
		width: 100%;
		max-width: 480px;
		max-height: calc(var(--vh, 1vh) * 100 - 200px);
	}

	@include media-down(xs) {
		width: 100vw;
		height: calc(var(--vh, 1vh) * 100);
	}
}

.generic-modal,
.path-edit-modal {
	@include media-up(sm) {
		max-width: 840px;
	}
}

.generic-modal {

	.title {
		font-size: 32px;
		line-height: 1.15;
		margin-bottom: 1.15em;
		font-weight: $font-extrabold;
	}

	.description {
		margin: 15px 0;
		font-size: 15px;
		line-height: 1.5;
		color: $foreground-tertiary;

		h2 {
			font-size: 19px;
			line-height: 1.15;
			margin: 1.5em 0 0 0;
			font-weight: $font-extrabold;
			color: $foreground;
		}

		h3 {
			font-size: 17px;
			line-height: 1.15;
			margin-bottom: 1.15em;
			font-weight: $font-extrabold;
			color: $foreground;
		}

		p {
			margin: 0 0 0.8em 0;
		}

		a {
			color: $foreground-primary;
		}
	}

	hr {
		margin-bottom: 1.5em;
		border: 1px solid #E8E8E8;
		height: 1px;
	}

}

.support-request-modal,
.control-request-modal,
.try-in-ar-modal {
	margin: 0;
	padding: 0;
	max-width: 480px;
	text-align: center;

	.modal__header {
		margin-bottom: 20px;
	}

	.form {
		.title {
			font-weight: $font-light;
			line-height: 1.2;
			font-size: 28px;
		}

		.group--cta {
			flex-direction: column;
			align-items: stretch;
			justify-content: space-around;
		}
	}

	.form .group--cta>*+* {
		margin-left: 0;
	}

	.btn--accept,
	.btn--cancel {
		display: block;
		min-height: auto;
		padding: 14px 25px;
		border-radius: 8px;
	}

	.btn--accept {
		text-transform: uppercase;
	}

	.btn--cancel {
		margin-top: 10px;

		& {
			background: transparent;
			color: $foreground;
		}

		&:hover {
			background: #f1f1f1;
			color: $foreground;
		}
	}
}

.try-in-ar-modal {
	.picture {
		display: flex;
		justify-content: center;
	}

	.qrcode {
		width: 256px;
		height: 256px;
	}
}

.configure-firewall-modal {
	margin: 0;
	padding: 0;
	text-align: left;

	.title {
		font-weight: $font-light;
		line-height: 1;
		font-size: 28px;
	}

	.abstract {
		font-size: 16px;
		line-height: 1.3;

		p {
			margin: 0;
		}
	}

	.subtitle {
		font-weight: $font-bold;
		line-height: 1;
		font-size: 17px;
	}

	.pre {
		padding: 0;
		margin: 0;
		line-height: 1.3;
		font-size: 13px;
	}

	.table {
		width: 100%;
		margin: 15px 0 60px 0;
		text-align: left;
		font-size: 13px;
		white-space: nowrap;
		background: none;
		border: none;
		border-collapse: collapse;
		border-spacing: 0;

		th,
		td {
			padding: 1px 8px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		th {
			font-weight: normal;
			border-bottom: 1px solid #aaa;
		}

		td:nth-child(2) {
			white-space: normal;
		}
	}

	.group--cta {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
}

.support-request-modal {
	background: rgba(0, 0, 0, 0.2);
	color: white;
	backdrop-filter: blur(20px);

	.btn--close {
		color: $foreground-negative;
	}

	.btn--cancel {

		& {
			color: $foreground-negative;
		}

		&:hover {
			background: rgba(0, 0, 0, 0.2);
			color: $foreground-negative;
		}
	}
}

.try-in-ar,
model-viewer {
	width: 100%;
	height: 100%;
}

.iframe-modal {
	position: relative;
	display: flex;
	flex-direction: column;
	width: calc(100vw - 240px);
	height: calc(var(--vh, 1vh) * 100 - 180px);
	max-width: 1200px;
	border-radius: 10px;
	overflow: hidden;
	background: white;

	@include media-down(xs) {
		width: 100vw;
		height: calc(var(--vh, 1vh) * 100);
	}

	.modal__header {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.modal__content {
		flex: 1 0 auto;
	}

	.btn--close {
		background: rgba(0, 0, 0, 0.3);
		color: white;

		&:hover {
			background: transparent;
		}
	}

	iframe {
		width: 100%;
		height: 100%;
		outline: 0;
		border: 0;
	}
}
