@use 'sass:math' as math;

$remote-width: 120px;
$remote-height: 90px;
$chat-width: 240px;

.ui {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	@include unselectable();

	.group--remote-screen {
		@extend %live-meeting-remote;
		background: none;

		.agora-stream {
			max-width: 100%;

			.agora-stream__player {
				padding-top: 0;

				&>div {
					position: relative !important;
					display: flex;

					&>video {
						position: relative !important;
						object-fit: contain !important;
					}
				}
			}
		}

		@include media-up(md) {
			max-height: calc(var(--vh, 1vh) * 100 - 180px);

			.agora-stream {
				max-height: calc(var(--vh, 1vh) * 100 - 180px);

				.agora-stream__player {
					max-height: calc(var(--vh, 1vh) * 100 - 180px);

					&>div {
						height: calc(var(--vh, 1vh) * 100 - 180px) !important;
					}
				}
			}

			/*
			@media (orientation: landscape) {
				max-height: calc(var(--vh, 1vh) * 100 - 180px);

				.agora-stream {
					max-height: calc(var(--vh, 1vh) * 100 - 180px);

					.agora-stream__player {
						max-height: calc(var(--vh, 1vh) * 100 - 180px);

						&>div {
							height: calc(var(--vh, 1vh) * 100 - 180px) !important;
						}
					}
				}
			}

			@media (orientation: portrait) {
				max-height: calc(var(--vh, 1vh) * 100 - 270px);

				.agora-stream {
					max-height: calc(var(--vh, 1vh) * 100 - 270px);

					.agora-stream__player {
						max-height: calc(var(--vh, 1vh) * 100 - 270px);

						&>div {
							height: calc(var(--vh, 1vh) * 100 - 270px) !important;
						}
					}
				}
			}
			*/
		}

		@include media-down(xs) {}
	}

	&.virtual-tour {
		&:not(.remotes) {
			.group--remote {
				.agora-stream {
					background: black;
					flex-shrink: 0;

					&__info {
						// &.talking {
						// 	border-color: #00ff00;
						// }

						&.spyed {
							border-color: $background-primary;

							.spy {
								fill: $foreground-primary;
							}
						}

						&.controlling {
							border-color: $background-secondary;

							.control {
								fill: $foreground-secondary;
							}
						}
					}

					@include media-up(md) {
						@include ratio(120px, math.div(4, 3));

						/*
						@media (orientation: landscape) {
							@include ratio(120px, math.div(4, 3));
						}

						@media (orientation: portrait) {
							width: 60px;
							height: 60px;
							margin: 5px 8px 30px 8px;

							&,
							&__player,
							&__info {
								border-radius: 30px;
							}

							&.video--muted,
							&.audio--muted {
								display: none;
							}

							.btn--control,
							.btn--spy {
								display: none;
							}

							.id {
								width: 60px;
								bottom: -20px;
								text-align: center;
								background: transparent;
							}
						}
						*/
					}

					@include media-down(sm) {
						width: 50px;
						height: 50px;
						margin: 5px 8px 30px 8px;

						&,
						&__player,
						&__info {
							border-radius: 25px;
						}

						&.video--muted,
						&.audio--muted {
							display: none;
						}

						.btn--control,
						.btn--spy {
							display: none;
						}

						.id {
							width: 50px;
							bottom: -20px;
							text-align: center;
							background: transparent;
						}
					}
				}

				@include media-up(md) {
					position: absolute;
					display: flex;
					background: $background-negative;

					flex-direction: column;
					justify-content: flex-start;
					top: 0;
					left: -$remote-width;
					width: $remote-width;
					height: 100%;
					flex: 1 1 $remote-width;

					.group--members {
						width: $remote-width;
						bottom: 0;
						left: 0;
					}

					/*
					@media (orientation: landscape) {
						flex-direction: column;
						justify-content: flex-start;
						top: 0;
						left: -$remote-width;
						width: $remote-width;
						height: 100%;
						flex: 1 1 $remote-width;

						.group--members {
							width: $remote-width;
							bottom: 0;
							left: 0;
						}
					}

					@media (orientation: portrait) {
						flex-direction: row;
						justify-content: flex-end;
						width: calc(100% - 240px);
						height: 90px;
						flex: 1 1 100%;
						position: fixed;
						bottom: auto;
						top: 10px;
						left: 240px;
						overflow-x: auto;
						overflow-y: hidden;
						background: transparent;

						.group--members {
							display: none;
						}
					}
					*/
				}

				@include media-down(sm) {
					position: absolute;
					flex-direction: row;
					display: flex;
					overflow-x: auto;
					overflow-y: hidden;
					background: transparent;
					height: auto;
					width: 100%;
					top: 0;
					left: 0;

					.group--members {
						display: none;
					}
				}
			}

			@include media-up(md) {
				width: calc(100% - #{$remote-width});
				margin-left: $remote-width;

				.group--members {
					left: -$remote-width;
				}

				/*
				@media (orientation: landscape) {
					width: calc(100% - #{$remote-width});
					margin-left: $remote-width;

					.group--members {
						left: -$remote-width;
					}
				}
				*/
			}
		}

		&:not(.remotes):not(.remoteScreen) {
			.group--remote-screen {
				position: absolute;
				left: 200vw;
			}
		}

		&.chat {
			.group--chat {
				@include media-up(md) {
					top: 0;
					right: -$chat-width;
					width: $chat-width;
					height: 100%;
					flex: 1 1 $chat-width;
				}

				@include media-down(sm) {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					flex: 1 1 100%;
				}
			}

			&:not(.remotes) {
				@include media-up(md) {
					width: calc(100% - #{$remote-width} - #{$chat-width});
					margin-left: $remote-width;
					margin-right: $chat-width;

					.group--members {
						left: 0; // -$remote-width;
					}

					.group--chat {
						right: -$chat-width;
					}

					/*
					@media (orientation: landscape) {
						width: calc(100% - #{$remote-width} - #{$chat-width});
						margin-left: $remote-width;
						margin-right: $chat-width;

						.group--members {
							left: 0; // -$remote-width;
						}

						.group--chat {
							right: -$chat-width;
						}
					}

					@media (orientation: portrait) {
						height: calc(100% - #{$remote-height});
						margin-bottom: $remote-height;

						.group--chat {
							display: none;
						}
					}
					*/
				}
			}

			&.remotes {
				@include media-up(md) {
					width: calc(100% - #{$chat-width});
					margin-left: 0;
					margin-right: $chat-width;

					.group--chat {
						right: -$chat-width;
					}
				}

				@include media-down(sm) {
					.group--chat {
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						flex: 1 1 100%;
					}
				}
			}
		}
	}

	&.remotes {

		.world,
		.btn--back,
		.btn--volume,
		.btn--control,
		.group--ar-vr,
		.group--heart {
			display: none;
		}

		&.remoteScreen {
			.group--remote {
				display: none;
			}
		}

		.group--remote {
			@extend %live-meeting-remote;
		}

		.group--members {
			width: $remote-width;
			height: $remote-height;
			bottom: 0;
			right: 0;
		}
	}

	&.remoteScreen {

		.world,
		.btn--back,
		.btn--volume,
		.btn--control,
		.group--ar-vr,
		.group--heart {
			display: none;
		}
	}

	&.media {
		.group--ar-vr {
			display: none;
		}
	}

	&.smart-device {
		.group--local {
			display: none;
		}
	}

	&.self-service {
		.btn--view-mode {
			display: none;
		}
	}

	&.embed {
		.group--remote {
			display: none;
		}
	}

	&.self-service {
		.group--remote {
			display: none;
		}
	}

	&.publisher {
		.group--local {

			.btn--control,
			.btn--silence {
				margin-right: 20px;
			}
		}
	}

	&.viewer {
		.group--local {
			.agora-stream {
				display: none;
			}
		}
	}

	&.locked {
		.btn--menu {
			pointer-events: none;

			&:not(.loading) {
				transform: scale(.15);
				opacity: 1;
			}

			.bullets {
				opacity: 0;
			}
		}

		.btn--view-mode {
			pointer-events: none;
		}

		.btn--navmap,
		.group--navmap {
			display: none;
		}
	}
}

.ui--info {
	@include media-down(sm) {
		padding: 80px 0 15px 0;

		&:not(.ui--info-centered) {
			justify-content: flex-start;
		}
	}

	@include media-down(xs) {
		padding: 80px 0 65px 0;
	}
}

.ui--info-centered {
	.picture {
		display: flex;
		justify-content: center;
	}
}

.ui__body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $background-negative;
}

.ui__lock {
	position: absolute;
	width: 100%;
	height: calc(100% - 2px);
	top: 0;
	left: 0;
	border: 1px solid $foreground-secondary;
	pointer-events: none;
	z-index: 2;

	&.spying {
		border-color: $foreground-primary;
	}
}
