%btn-reset {
	display: inline-block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	appearance: none;
	font: inherit;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	// transition: ease-in-out $fastest;
	// transition-property: background-color, color, border, opacity;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: inherit;
		text-decoration: none;
		outline: none;
	}
}

%btn {
	@extend %btn-reset;
	// transition: ease-in-out $fastest;
	// transition-property: background-color, color, border, opacity;

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

%btn-circle {
	@extend %btn;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	transition: all ease-in-out $fastest;

	svg {
		width: 24px;
		height: 24px;
		fill: currentColor;
	}

	@include media-down(xs) {
		width: 40px;
		height: 40px;
		border-radius: 20px;

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		background: $background;
		color: $foreground;
	}
}

%btn-rect {
	@extend %btn;
	min-height: 50px;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	padding: 0 25px;
	font-weight: $font-semibold;
	font-size: 16px;
	transition: all ease-in-out $fastest;

	@include media-down(sm) {
		min-height: 40px;
		border-radius: 20px;
		padding: 0 20px;
		font-size: 15px;
	}

	svg {
		width: 24px;
		height: 24px;
		margin-left: -10px;
		margin-right: 10px;
	}

	span {
		display: block;
	}

	svg {
		fill: currentColor;
	}

	&,
	&:active,
	&:focus,
	&:visited {
		background: $background-primary;
		color: $foreground-negative;
	}

	&:hover {
		background: $background-primary-darker;
		color: $foreground-negative;
	}

	&:active:hover {
		background: $background-primary-darkest;
		color: $foreground-negative;
		transition: none;
	}

	&.disabled {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			background: $background-primary-disabled;
			pointer-events: none;
		}
	}
}

%btn-secondary {
	@extend %btn;
	min-height: 40px;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 0 15px;
	font-weight: $font-semibold;
	font-size: 14px;
	transition: all ease-in-out $fastest;
	border: 2px solid transparent;

	svg {
		width: 24px;
		height: 24px;
		margin-left: -10px;
		margin-right: 10px;
	}

	span {
		display: block;
	}

	svg {
		fill: currentColor;
	}

	&,
	&:active,
	&:focus,
	&:visited {
		background: $foreground-negative;
		color: $background-primary;
		border-color: $background-primary-dimmed;
	}

	&:hover {
		background: $foreground-negative;
		color: $background-primary-darker;
		border-color: $background-primary-darker;
	}

	&:active:hover {
		background: $foreground-negative;
		color: $background-primary-darkest;
		border-color: $background-primary-darkest;
		transition: none;
	}

	&.disabled {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			border-color: $background-primary-disabled;
			pointer-events: none;
		}
	}
}

%btn-link {
	@extend %btn;
	line-height: 1.4;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-weight: $font-semibold;
	font-size: 13px;
	transition: all ease-in-out $fastest;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		transform-origin: left;
		transform: scaleX(0);
		transition: all ease-in-out $fastest;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 8px;
	}

	span {
		display: block;
	}

	svg {
		fill: currentColor;
	}

	&,
	&:active,
	&:focus,
	&:visited {
		color: $foreground;

		&:before {
			background: $background-primary;
		}
	}

	&:hover {
		color: $foreground-primary;

		&:before {
			transform: scaleX(1);
		}
	}

	&:active:hover {
		color: $foreground-primary-darkest;
		transition: none;
	}

	&.disabled {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			border-color: $background-primary-disabled;
			pointer-events: none;
		}
	}
}

a,
button {
	@extend %btn-reset;
}

.btn {
	@extend %btn;
}

.busy {
	@include bouncing-loader();
}
