.toast-outlet {

	&__container {
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: 19000;
		opacity: 1;
		transition: opacity ease-in-out 350ms;

		&:not(.info) {
			.toast-outlet__toast {
				min-width: 300px;
				padding-right: 40px;
				border: 1px solid rgba(255, 255, 255, 0.1);
				// background: $background-negative;
				background: $black-90;
				pointer-events: auto;
			}

			.toast-outlet__message {
				display: block;
				padding: 10px 0;
				font-size: 14px;
				line-height: 1.6;
			}
		}

		&:not(.active) {
			opacity: 0;
			pointer-events: none;

			.toast-outlet__toast {
				pointer-events: none;
			}
		}

		&.centered {
			justify-content: center;
			align-items: center;
		}

		&.top-left {
			justify-content: flex-start;
			align-items: flex-start;

			.toast-outlet__toast {
				margin-left: 20px;
				margin-top: 20px;
			}
		}

		&.top {
			justify-content: center;
			align-items: flex-start;

			.toast-outlet__toast {
				margin-top: 20px;
			}
		}

		&.top-right {
			justify-content: flex-end;
			align-items: flex-start;

			.toast-outlet__toast {
				margin-right: 20px;
				margin-top: 20px;
			}
		}

		&.right {
			justify-content: flex-end;
			align-items: center;

			.toast-outlet__toast {
				margin-right: 20px;
			}
		}

		&.bottom-right {
			justify-content: flex-end;
			align-items: flex-end;

			.toast-outlet__toast {
				margin-right: 20px;
				margin-bottom: 20px;
			}
		}

		&.bottom {
			justify-content: center;
			align-items: flex-end;

			.toast-outlet__toast {
				margin-bottom: 20px;
			}
		}

		&.bottom-left {
			justify-content: flex-start;
			align-items: flex-end;

			.toast-outlet__toast {
				margin-left: 20px;
				margin-bottom: 20px;
			}
		}

		&.left {
			justify-content: flex-start;
			align-items: center;

			.toast-outlet__toast {
				margin-left: 20px;
			}
		}

		@include media-up(sm) {
			width: 100vw;
			height: calc(var(--vh, 1vh) * 100);
		}

		@include media-down(xs) {
			width: 100%;
			height: 100%;
		}
	}

	&__toast {
		position: relative;
		max-width: 720px;
		padding: 20px;
		border-radius: 12px;
		background: $black-80;
		color: white;
		overflow: hidden;
		box-shadow: 0px 10px 10px -5px $black-20;

		.group--cta {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
		}

		.btn--close {
			position: absolute;
			top: 0;
			right: 0;

			svg {
				width: 12px;
				height: 12px;
			}
		}

		.btn--accept,
		.btn--cancel {
			display: block;
			min-height: auto;
			padding: 8px 20px;
			border-radius: 5px;
			font-size: 13px;
		}

		.btn--accept {
			text-transform: uppercase;
		}

		.btn--cancel {
			& {
				background: transparent;
				color: $foreground-negative;
				text-decoration: underline;
			}

			&:hover {
				background: #f1f1f1;
				color: $foreground;
				text-decoration: none;
			}
		}

		.active & {
			animation: scale-up-center 400ms cubic-bezier(0.320, 0.000, 0.290, 0.990) both;
		}

		@include media-up(sm) {
			max-height: calc(var(--vh, 1vh) * 100 - 200px);
		}

		@include media-down(xs) {
			width: calc(100% - 40px);
			padding: 15px;
		}
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(1);
	}
}
